In [27]:
import pandas as pd

In [28]:
dataset = pd.read_csv('data.csv')

In [29]:
dataset.head()

   image_id  feature_1  feature_2  feature_3  feature_4
0         1      0.523      0.234      0.123      0.789
1         2      0.123      0.456      0.789      0.654
2         3      0.987      0.654      0.321      0.234
3         4      0.234      0.789      0.567      0.321
4         5      0.654      0.321      0.456      0.789

In [30]:
dataset.iloc[:,1:]

    feature_1  feature_2  feature_3  feature_4
0       0.523      0.234      0.123      0.789
1       0.123      0.456      0.789      0.654
2       0.987      0.654      0.321      0.234
3       0.234      0.789      0.567      0.321
4       0.654      0.321      0.456      0.789
5       0.789      0.987      0.654      0.321
6       0.345      0.678      0.912      0.123
7       0.567      0.890      0.123      0.456
8       0.901      0.234      0.567      0.890
9       0.789      0.123      0.890      0.234
10      0.234      0.567      0.901      0.345
11      0.678      0.901      0.234      0.567
12      0.123      0.789      0.678      0.901
13      0.456      0.234      0.345      0.678
14      0.890      0.567      0.456      0.234
15      0.901      0.890      0.789      0.567
16      0.234      0.123      0.678      0.890
17      0.567      0.901      0.234      0.123
18      0.789      0.234      0.567      0.901
19      0.123      0.567      0.890      0.234
20      0.567      0.890      0.123      0.678
21      0.789      0.901      0.456      0.234
22      0.901      0.234      0.789      0.567
23      0.234      0.567      0.901      0.890
24      0.567      0.890      0.234      0.123

In [31]:
test = pd.read_csv('test.csv')

In [32]:
test.head()

   image_id  feature_1  feature_2  feature_3  feature_4
0      1001      0.432      0.567      0.678      0.765
1      1002      0.789      0.321      0.543      0.234
2      1003      0.876      0.987      0.654      0.321
3      1004      0.234      0.456      0.789      0.901
4      1005      0.543      0.678      0.123      0.456

In [33]:
test.iloc[0:,1:]

   feature_1  feature_2  feature_3  feature_4
0      0.432      0.567      0.678      0.765
1      0.789      0.321      0.543      0.234
2      0.876      0.987      0.654      0.321
3      0.234      0.456      0.789      0.901
4      0.543      0.678      0.123      0.456

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(test.iloc[0:,1:], dataset.iloc[:,1:])

print("Cosine Similarities:")
print(similarities)

Cosine Similarities:
[[0.85368944 0.95784169 0.76708401 0.90087938 0.94726776 0.87443954
  0.83733112 0.8202545  0.90508718 0.78571958 0.91060243 0.87278339
  0.95792499 0.94675428 0.81679944 0.93633037 0.91531962 0.73781533
  0.92268854 0.85346524 0.86058025 0.82535085 0.88892895 0.97757634
  0.73933057]
 [0.72533051 0.70500185 0.94036651 0.75421339 0.86899574 0.90556856
  0.81890927 0.75620994 0.89242647 0.94986779 0.79007693 0.81434687
  0.64863671 0.82100841 0.97545192 0.94112924 0.67154404 0.78464069
  0.87179284 0.72434799 0.7334512  0.89882663 0.96551084 0.72930731
  0.78801433]
 [0.69038439 0.75471869 0.9535679  0.92118827 0.81947415 0.99882116
  0.8930542  0.91918667 0.79046858 0.80023255 0.84984549 0.93967886
  0.77737177 0.77649942 0.96843646 0.98319125 0.6090578  0.95465535
  0.78002828 0.80771156 0.88071448 0.99495153 0.84712065 0.77293841
  0.95594791]
 [0.80997442 0.98538961 0.61053861 0.84183433 0.9014499  0.757823
  0.78455588 0.69479108 0.8547119  0.72691065 0.89640161 0.75649338
  0.96408602 0.91761572 0.67883235 0.84162494 0.96664567 0.58714592
  0.8845453  0.84702446 0.75918828 0.68714813 0.82774249 0.9961624
  0.58847334]
 [0.84132219 0.69125284 0.91151276 0.84609952 0.85702069 0.91837449
  0.69060884 0.99234697 0.80748607 0.6043065  0.68969862 0.99778292
  0.80224045 0.83562041 0.88840139 0.91764533 0.61555117 0.9253982
  0.80251291 0.6204682  0.99155505 0.93329008 0.75427086 0.73897227
  0.92613518]]

In [35]:
from scipy.spatial import distance

distances = distance.cdist(test.iloc[0:,1:], dataset.iloc[:,1:], 'euclidean')

print('Euclidean Distances:')
print(distances)

Euclidean Distances:
[[0.65404205 0.36392856 0.85147167 0.54584338 0.39957477 0.70820971
  0.69771771 0.72529994 0.59899583 0.8071493  0.51510484 0.6390712
  0.40405569 0.47950287 0.73553314 0.61303752 0.50196115 0.8596982
  0.5188015  0.6499123  0.66192749 0.75514899 0.61836478 0.32335429
  0.85548466]
 [0.75016665 0.83588097 0.44651652 0.73156955 0.57777072 0.68076868
  0.68779866 0.77377581 0.67158395 0.39951596 0.71346058 0.74504429
  1.06098728 0.59564923 0.27979635 0.71253772 0.89207063 0.70248559
  0.673078   0.7902411  0.86404919 0.5864887  0.4376277  0.96282968
  0.69343132]
 [1.09206364 0.98898129 0.4915974  0.67744889 0.86664179 0.087
  0.69513308 0.63645581 0.94813712 0.90406305 0.80631818 0.53246221
  0.97117918 0.98302543 0.4726193  0.29795134 1.21778364 0.56434121
  0.95840858 0.89815032 0.71714713 0.24847133 0.8039745  0.98657691
  0.5661219 ]
 [0.76740146 0.27079513 1.12699867 0.70467936 0.56396631 0.971911
  0.82584381 0.96996185 0.73727742 0.93488181 0.5779282  0.9026306
  0.36814535 0.58773548 0.99921719 0.86301854 0.35118514 1.10554195
  0.63764645 0.69262688 0.89024154 1.03045039 0.77828594 0.1580696
  1.1011603 ]
 [0.55536024 0.84169115 0.53497664 0.56847427 0.60128862 0.67541321
  0.87898464 0.21335417 0.84308481 1.00305234 0.85170828 0.30429591
  0.83352924 0.55070228 0.54120514 0.79308575 0.94862374 0.41655132
  0.80796844 0.90900715 0.30790258 0.52001731 0.88384218 0.94944299
  0.41076757]]

In [36]:
distance = distance.cdist(test.iloc[0:,1:], dataset.iloc[:,1:], 'cityblock')

print('Manhattan Distances:')
print(distances)

Manhattan Distances:
[[0.65404205 0.36392856 0.85147167 0.54584338 0.39957477 0.70820971
  0.69771771 0.72529994 0.59899583 0.8071493  0.51510484 0.6390712
  0.40405569 0.47950287 0.73553314 0.61303752 0.50196115 0.8596982
  0.5188015  0.6499123  0.66192749 0.75514899 0.61836478 0.32335429
  0.85548466]
 [0.75016665 0.83588097 0.44651652 0.73156955 0.57777072 0.68076868
  0.68779866 0.77377581 0.67158395 0.39951596 0.71346058 0.74504429
  1.06098728 0.59564923 0.27979635 0.71253772 0.89207063 0.70248559
  0.673078   0.7902411  0.86404919 0.5864887  0.4376277  0.96282968
  0.69343132]
 [1.09206364 0.98898129 0.4915974  0.67744889 0.86664179 0.087
  0.69513308 0.63645581 0.94813712 0.90406305 0.80631818 0.53246221
  0.97117918 0.98302543 0.4726193  0.29795134 1.21778364 0.56434121
  0.95840858 0.89815032 0.71714713 0.24847133 0.8039745  0.98657691
  0.5661219 ]
 [0.76740146 0.27079513 1.12699867 0.70467936 0.56396631 0.971911
  0.82584381 0.96996185 0.73727742 0.93488181 0.5779282  0.9026306
  0.36814535 0.58773548 0.99921719 0.86301854 0.35118514 1.10554195
  0.63764645 0.69262688 0.89024154 1.03045039 0.77828594 0.1580696
  1.1011603 ]
 [0.55536024 0.84169115 0.53497664 0.56847427 0.60128862 0.67541321
  0.87898464 0.21335417 0.84308481 1.00305234 0.85170828 0.30429591
  0.83352924 0.55070228 0.54120514 0.79308575 0.94862374 0.41655132
  0.80796844 0.90900715 0.30790258 0.52001731 0.88384218 0.94944299
  0.41076757]]

## Will add more metrics for similarity after discussion with sir and ma'am